html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: consolas, 'Courier New', Courier, monospace;
  font-size: 1.3em;
  height: 100%;
  background-color:rgb(22, 22, 22)
}

h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: -1.5em;
  padding-bottom: 20px;
  padding-top: 20px;
  color: rgb(216, 60, 138);
  border-bottom: 2px solid rgb(184, 184, 184);
  border-top: 2px solid rgb(184, 184, 184);
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-area {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 5em;
  text-align: center;
  padding-top: 2em;
}

h2 {
  color: rgb(216, 60, 138);
  /*border-bottom: 2px solid rgb(184, 184, 184);*/
  border-top: 2px solid rgb(184, 184, 184);
  padding-top: 10px;
  margin: 0;
}

.score {
  color: white;
  font-size: 2.5em;
  margin: 0;
  margin-top: -80px;
} 

.player-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-select {
  display: flex;
  font-size: 3.4em;
  padding: 20px;
  border: 3px solid rgba(0, 0, 0, 0.507);
  background-color: rgba(0, 0, 0, 0.507);
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba(247, 26, 173, 0.418);
  margin-bottom: 20px;
}

.player-select:hover {
  border: 3px solid rgb(196, 28, 132);
  /*font-size: 3.2em;*/
}

.weapon-select {
  color: white;
  font-size: 1.7em;
  margin: 0;
} 

.text-choice {
  height: 450px;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.placeholder {
  color: rgba(0, 0, 0, 0);
}